body {
	background: #CCCCCC
}

#banner {
	width: 100%;


}

.principal {
	background: #CCCCCC
}

.itens{
	font-style: italic;
}
p {
	font-size: 20px;
	text-align: center;
}

em strong {
	color: #darkred;
}

#missao {
	color: #8B0000

}
.beneficios{
	background: #FFFFFF;
}
